<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mapui/gocitybtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,696},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>mapui/mapbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,901},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>mapui/mappackbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,696},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>mapui/mapdownbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,641},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/mapleftbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,771},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/maprightbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,901},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/mapupbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,696},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/mapnamebox0.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,166},{53,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,159}</string>
			</dict>
			<key>mapui/mapnamebox1.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,471},{47,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,138}</string>
			</dict>
			<key>mapui/mapname_sel0.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1},{59,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,163}</string>
			</dict>
			<key>mapui/mapname_sel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,327},{51,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,142}</string>
			</dict>
			<key>mapui/mtag0.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,581},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>mapui/submaptitlecloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,509},{70,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,28}</string>
			</dict>
			<key>mapui/submapnodeitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{708,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{708,149}</string>
			</dict>
			<key>mapui/submapanimcloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,509},{298,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,99}</string>
			</dict>
			<key>mapui/boardblock_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,804},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,804},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,804},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,804},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,804},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,809},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,842},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,842},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,878},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>mapui/buildblock_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,842},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,883},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/mapdescbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1},{693,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{693,103}</string>
			</dict>
			<key>mapui/morearrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,611},{34,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,28}</string>
			</dict>
			<key>mapui/boardblock_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,883},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,901},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,916},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,916},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,916},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,152},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,226},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,300},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,374},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,448},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,522},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,596},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,152},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,226},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,300},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,374},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,448},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,522},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,596},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,152},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,226},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,300},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,374},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,448},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,522},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,596},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,152},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,152},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,152},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,152},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,152},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,152},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,226},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,300},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,374},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,448},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,522},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,596},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,226},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,226},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1},{288,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,144}</string>
			</dict>
			<key>mapui/buildblock_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,878},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>mapui/buildblock_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,226},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,522},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>mapui/buildblock_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,226},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,291},{216,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,144}</string>
			</dict>
			<key>mapui/buildblock_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,226},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,696},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>mapui/buildblock_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,300},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,374},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,448},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,696},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>mapui/buildblock_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,809},{144,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,72}</string>
			</dict>
			<key>mapui/blockblack.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,696},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mapui.png</string>
			<key>realTextureFileName</key>
			<string>mapui.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>