<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mapui/gocitybtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,700},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>mapui/mapbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,767},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>mapui/mappackbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,808},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>mapui/mapdownbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,579},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/mapleftbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,673},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/maprightbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,554},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/mapupbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,648},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/mapnamebox0.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,463},{53,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,159}</string>
			</dict>
			<key>mapui/mapnamebox1.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,386},{47,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,138}</string>
			</dict>
			<key>mapui/mapname_sel0.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,298},{59,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,163}</string>
			</dict>
			<key>mapui/mapname_sel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,700},{51,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,142}</string>
			</dict>
			<key>mapui/mtag0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,252},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>mapui/submaptitlecloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,106},{70,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,28}</string>
			</dict>
			<key>mapui/submapnodeitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{708,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{708,149}</string>
			</dict>
			<key>mapui/submapanimcloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,152},{298,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,99}</string>
			</dict>
			<key>mapui/boardblock_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,875},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,909},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1770,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2066,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,252},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>mapui/buildblock_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2140,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2214,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/mapdescbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1},{693,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{693,103}</string>
			</dict>
			<key>mapui/morearrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,288},{34,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,28}</string>
			</dict>
			<key>mapui/boardblock_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2288,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2362,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2436,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2510,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2584,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2658,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2732,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2806,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2880,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2954,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{3028,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{3102,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{3176,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{3250,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{3324,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{3398,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{3472,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{3546,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{3620,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{3694,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{3768,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{3842,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{3916,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{3990,1},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,147},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,147},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,147},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1770,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{2066,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{2140,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{2214,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{2288,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{2362,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{2436,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2510,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2584,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,1},{288,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,144}</string>
			</dict>
			<key>mapui/buildblock_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,252},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>mapui/buildblock_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2658,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,875},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>mapui/buildblock_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2732,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,106},{216,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,144}</string>
			</dict>
			<key>mapui/buildblock_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2806,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,386},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>mapui/buildblock_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2880,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2954,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3028,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,386},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>mapui/buildblock_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,152},{144,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,72}</string>
			</dict>
			<key>mapui/blockblack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,801},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>mapui/boardblock_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{3102,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{3176,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{3250,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{3324,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{3398,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{3472,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{3546,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{3620,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{3694,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{3768,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{3842,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{3916,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{3990,75},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,221},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/heroatkspeedbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1395,106},{142,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,9}</string>
			</dict>
			<key>mapui/heroatkspeedbarbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,178},{142,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,9}</string>
			</dict>
			<key>mapui/boardblock_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,221},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,221},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{1702,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{1776,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{2072,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{2146,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{2220,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{2294,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{2368,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{2442,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{2516,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{2590,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{2664,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{2738,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{2812,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{2886,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{2960,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{3034,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{3108,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{3182,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{3256,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{3330,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{3404,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{3478,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{3552,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{3626,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{3700,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{3774,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{3848,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_95.png</key>
			<dict>
				<key>frame</key>
				<string>{{3922,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_96.png</key>
			<dict>
				<key>frame</key>
				<string>{{3996,149},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,223},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{1376,295},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,554},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>mapui/buildblock_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,295},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,655},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>mapui/buildblock_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,106},{216,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,144}</string>
			</dict>
			<key>mapui/buildblock_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,106},{216,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,144}</string>
			</dict>
			<key>mapui/buildblock_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1524,295},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1702,223},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1776,223},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,223},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,223},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,223},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/n001.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,152},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n002.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,152},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,253},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n004.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,253},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,387},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n006.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,286},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n007.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,416},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,521},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n009.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,286},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n010.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,252},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n011.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,420},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n012.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,420},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/n013.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,252},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>mapui/hurticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,554},{122,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mapui.png</string>
			<key>realTextureFileName</key>
			<string>mapui.png</string>
			<key>size</key>
			<string>{4096,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>