<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>text_zh_cn/main_01_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,70},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_02_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,70},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_03_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,224},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_04_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,224},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_05_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,343},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_06_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,495},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_07_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,388},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_08_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,434},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_09_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,287},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_10_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,333},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_achbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,527},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>text_zh_cn/main_mailbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,942},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,36}</string>
			</dict>
			<key>text_zh_cn/main_rankbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,679},{84,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,34}</string>
			</dict>
			<key>text_zh_cn/main_setbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,915},{56,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,32}</string>
			</dict>
			<key>text_zh_cn/main_shopbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,658},{58,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,38}</string>
			</dict>
			<key>text_zh_cn/innroomtitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,284},{78,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,38}</string>
			</dict>
			<key>text_zh_cn/innroolv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,339},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>text_zh_cn/recruit_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,99},{156,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,42}</string>
			</dict>
			<key>text_zh_cn/herofire_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,497},{82,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,48}</string>
			</dict>
			<key>text_zh_cn/equiptext_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,973},{44,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,26}</string>
			</dict>
			<key>text_zh_cn/equiptext_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,973},{44,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,26}</string>
			</dict>
			<key>text_zh_cn/equiptext_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,861},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>text_zh_cn/equiptext_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,861},{50,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,28}</string>
			</dict>
			<key>text_zh_cn/equiptext_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,908},{44,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,24}</string>
			</dict>
			<key>text_zh_cn/equiptext_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,939},{44,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,26}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/recruitbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,227},{78,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,42}</string>
			</dict>
			<key>text_zh_cn/backbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,537},{74,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,34}</string>
			</dict>
			<key>text_zh_cn/changebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,284},{76,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,38}</string>
			</dict>
			<key>text_zh_cn/firebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,358},{74,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,42}</string>
			</dict>
			<key>text_zh_cn/isrecruited_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,388},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>text_zh_cn/srefresh_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,230},{156,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,39}</string>
			</dict>
			<key>text_zh_cn/crefresh_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,99},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>text_zh_cn/hilllv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,183},{148,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,40}</string>
			</dict>
			<key>text_zh_cn/hillrecruit.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,183},{146,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,42}</string>
			</dict>
			<key>text_zh_cn/homehilltitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,527},{80,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,32}</string>
			</dict>
			<key>text_zh_cn/resitemlv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,495},{84,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,48}</string>
			</dict>
			<key>text_zh_cn/drlvupbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,181},{156,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,40}</string>
			</dict>
			<key>text_zh_cn/lvupbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,273},{78,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,40}</string>
			</dict>
			<key>text_zh_cn/drrecruitbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,99},{158,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,42}</string>
			</dict>
			<key>text_zh_cn/outtowntitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,362},{78,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,36}</string>
			</dict>
			<key>text_zh_cn/goout_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,437},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>text_zh_cn/herocancel_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,631},{80,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,46}</string>
			</dict>
			<key>text_zh_cn/herofight_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,679},{82,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,44}</string>
			</dict>
			<key>text_zh_cn/gocitybtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,562},{62,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,32}</string>
			</dict>
			<key>text_zh_cn/mapbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,853},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>text_zh_cn/mappackbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,737},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>
			<key>text_zh_cn/m55-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,561},{28,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,88}</string>
			</dict>
			<key>text_zh_cn/m55-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,765},{27,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,87}</string>
			</dict>
			<key>text_zh_cn/m4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,514},{27,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,72}</string>
			</dict>
			<key>text_zh_cn/m55-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,375},{24,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,92}</string>
			</dict>
			<key>text_zh_cn/m2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,717},{24,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,73}</string>
			</dict>
			<key>text_zh_cn/m55-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,854},{27,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,86}</string>
			</dict>
			<key>text_zh_cn/m5-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,854},{27,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,86}</string>
			</dict>
			<key>text_zh_cn/m55-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,450},{28,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,91}</string>
			</dict>
			<key>text_zh_cn/m3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,651},{25,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,72}</string>
			</dict>
			<key>text_zh_cn/m1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,480},{22,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,69}</string>
			</dict>
			<key>text_zh_cn/m922-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,442},{30,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,87}</string>
			</dict>
			<key>text_zh_cn/m1-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,588},{26,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,73}</string>
			</dict>
			<key>text_zh_cn/m2-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,741},{25,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,71}</string>
			</dict>
			<key>text_zh_cn/m2-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,650},{27,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,89}</string>
			</dict>
			<key>text_zh_cn/m922-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,480},{31,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,74}</string>
			</dict>
			<key>text_zh_cn/m1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,618},{24,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,72}</string>
			</dict>
			<key>text_zh_cn/m922-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,365},{30,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,88}</string>
			</dict>
			<key>text_zh_cn/m1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,225},{21,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,74}</string>
			</dict>
			<key>text_zh_cn/m922-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,581},{32,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,90}</string>
			</dict>
			<key>text_zh_cn/m922-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,264},{30,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,91}</string>
			</dict>
			<key>text_zh_cn/m3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,725},{24,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,72}</string>
			</dict>
			<key>text_zh_cn/m3-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,814},{24,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,72}</string>
			</dict>
			<key>text_zh_cn/m2-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,865},{24,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,72}</string>
			</dict>
			<key>text_zh_cn/m4-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,402},{29,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,88}</string>
			</dict>
			<key>text_zh_cn/m5-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,424},{29,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,88}</string>
			</dict>
			<key>text_zh_cn/m4-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,454},{20,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,74}</string>
			</dict>
			<key>text_zh_cn/m93-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,908},{23,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,70}</string>
			</dict>
			<key>text_zh_cn/m93-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,437},{31,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,88}</string>
			</dict>
			<key>text_zh_cn/m93-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,763},{27,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,88}</string>
			</dict>
			<key>text_zh_cn/m94-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,259},{26,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,120}</string>
			</dict>
			<key>text_zh_cn/m2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,792},{25,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,71}</string>
			</dict>
			<key>text_zh_cn/m94-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,301},{23,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,72}</string>
			</dict>
			<key>text_zh_cn/m94-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,455},{25,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,75}</string>
			</dict>
			<key>text_zh_cn/m0-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,514},{27,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,119}</string>
			</dict>
			<key>text_zh_cn/submaptitle_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1},{284,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,32}</string>
			</dict>
			<key>text_zh_cn/storehousetitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,227},{82,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,44}</string>
			</dict>
			<key>text_zh_cn/stcatabtn0_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,555},{62,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,33}</string>
			</dict>
			<key>text_zh_cn/stcatabtn0_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,588},{62,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,33}</string>
			</dict>
			<key>text_zh_cn/stcatabtn1_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,538},{54,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,29}</string>
			</dict>
			<key>text_zh_cn/stcatabtn1_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,908},{54,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,29}</string>
			</dict>
			<key>text_zh_cn/stcatabtn2_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,491},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>text_zh_cn/stcatabtn2_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,613},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>text_zh_cn/stcatabtn3_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,480},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,33}</string>
			</dict>
			<key>text_zh_cn/stcatabtn3_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,537},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,33}</string>
			</dict>
			<key>text_zh_cn/fastdecompose_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,99},{146,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,40}</string>
			</dict>
			<key>text_zh_cn/smcatabtn0_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,609},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>text_zh_cn/smcatabtn1_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,973},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>
			<key>text_zh_cn/smcatabtn1_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,480},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>
			<key>text_zh_cn/smcatabtn2_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,718},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>text_zh_cn/smcatabtn2_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,784},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>text_zh_cn/smcatabtn3_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,939},{54,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,32}</string>
			</dict>
			<key>text_zh_cn/smcatabtn3_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,939},{54,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,32}</string>
			</dict>
			<key>text_zh_cn/smcatabtn4_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,626},{58,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>
			<key>text_zh_cn/smcatabtn4_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,671},{58,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>
			<key>text_zh_cn/smithytilte.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,413},{122,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,38}</string>
			</dict>
			<key>text_zh_cn/smithylv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1},{176,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,40}</string>
			</dict>
			<key>text_zh_cn/smcatabtn0_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,799},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>text_zh_cn/drmakeresbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,99},{152,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,40}</string>
			</dict>
			<key>text_zh_cn/makeresbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,387},{76,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,38}</string>
			</dict>
			<key>text_zh_cn/okbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,400},{74,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,37}</string>
			</dict>
			<key>text_zh_cn/closebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,491},{65,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,34}</string>
			</dict>
			<key>text_zh_cn/usebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,359},{74,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>text_zh_cn/decomposebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,317},{74,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,40}</string>
			</dict>
			<key>text_zh_cn/markettitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,264},{78,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,42}</string>
			</dict>
			<key>text_zh_cn/marketlvup_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,183},{146,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,42}</string>
			</dict>
			<key>text_zh_cn/refreshbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,358},{74,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,40}</string>
			</dict>
			<key>text_zh_cn/buybtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,504},{82,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,42}</string>
			</dict>
			<key>text_zh_cn/escapebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,861},{54,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,28}</string>
			</dict>
			<key>text_zh_cn/stonein_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,307},{78,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,40}</string>
			</dict>
			<key>text_zh_cn/equipprop_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,425},{134,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,34}</string>
			</dict>
			<key>text_zh_cn/break_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,316},{78,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,40}</string>
			</dict>
			<key>text_zh_cn/halltitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,285},{126,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,42}</string>
			</dict>
			<key>text_zh_cn/m921-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,765},{27,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,87}</string>
			</dict>
			<key>text_zh_cn/m5-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,433},{27,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,86}</string>
			</dict>
			<key>text_zh_cn/m91-96.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,462},{27,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,86}</string>
			</dict>
			<key>text_zh_cn/m5-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,469},{28,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,91}</string>
			</dict>
			<key>text_zh_cn/m99-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,663},{25,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,72}</string>
			</dict>
			<key>text_zh_cn/m99-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,551},{22,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,69}</string>
			</dict>
			<key>text_zh_cn/m92-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,543},{26,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,73}</string>
			</dict>
			<key>text_zh_cn/m4-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,365},{30,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,88}</string>
			</dict>
			<key>text_zh_cn/m92-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,378},{21,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,74}</string>
			</dict>
			<key>text_zh_cn/m92-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,673},{32,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,90}</string>
			</dict>
			<key>text_zh_cn/m92-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,357},{30,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,91}</string>
			</dict>
			<key>text_zh_cn/m93-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,928},{24,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,72}</string>
			</dict>
			<key>text_zh_cn/m94-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,855},{25,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,71}</string>
			</dict>
			<key>text_zh_cn/task_text_0_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,980},{58,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,33}</string>
			</dict>
			<key>text_zh_cn/task_text_0_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,731},{58,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,33}</string>
			</dict>
			<key>text_zh_cn/task_text_1_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,686},{58,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>
			<key>text_zh_cn/task_text_1_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,677},{58,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>
			<key>text_zh_cn/task_text_2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,782},{58,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>
			<key>text_zh_cn/task_text_2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,848},{58,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>
			<key>text_zh_cn/taskfinish.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,568},{80,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,50}</string>
			</dict>
			<key>text_zh_cn/taskdayget.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,484},{82,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,40}</string>
			</dict>
			<key>text_zh_cn/taskdaygo.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,581},{80,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,48}</string>
			</dict>
			<key>text_zh_cn/selectbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,344},{78,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,40}</string>
			</dict>
			<key>text_zh_cn/strenthbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,477},{76,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,34}</string>
			</dict>
			<key>text_zh_cn/replacebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,455},{74,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,35}</string>
			</dict>
			<key>text_zh_cn/takeoffbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,315},{73,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,41}</string>
			</dict>
			<key>text_zh_cn/continuebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,635},{80,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,40}</string>
			</dict>
			<key>text_zh_cn/windeath_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,465},{66,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,35}</string>
			</dict>
			<key>text_zh_cn/winlvup_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,531},{56,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,28}</string>
			</dict>
			<key>text_zh_cn/winrewardtitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,283},{152,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,34}</string>
			</dict>
			<key>text_zh_cn/drop_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,439},{70,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,39}</string>
			</dict>
			<key>text_zh_cn/package_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,717},{65,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,37}</string>
			</dict>
			<key>text_zh_cn/continuegamebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,70},{158,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,39}</string>
			</dict>
			<key>text_zh_cn/allgetbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,179},{162,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,42}</string>
			</dict>
			<key>text_zh_cn/hospital_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,399},{76,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,36}</string>
			</dict>
			<key>text_zh_cn/cure_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,273},{78,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,42}</string>
			</dict>
			<key>text_zh_cn/train_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,378},{124,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,37}</string>
			</dict>
			<key>text_zh_cn/trainlv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1},{178,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,40}</string>
			</dict>
			<key>text_zh_cn/mypackagetitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,324},{76,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,39}</string>
			</dict>
			<key>text_zh_cn/training_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,227},{82,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,44}</string>
			</dict>
			<key>text_zh_cn/traincoin_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,141},{152,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,40}</string>
			</dict>
			<key>text_zh_cn/trainstart_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,141},{152,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,38}</string>
			</dict>
			<key>text_zh_cn/cancelbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,588},{68,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,36}</string>
			</dict>
			<key>text_zh_cn/traindoing_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,378},{104,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,41}</string>
			</dict>
			<key>text_zh_cn/maptask_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,737},{60,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,31}</string>
			</dict>
			<key>text_zh_cn/wglv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,225},{143,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,37}</string>
			</dict>
			<key>text_zh_cn/wxquatext.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,287},{136,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,36}</string>
			</dict>
			<key>text_zh_cn/wgcurtext.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,264},{68,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,50}</string>
			</dict>
			<key>text_zh_cn/wgnexttext.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,99},{118,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,54}</string>
			</dict>
			<key>text_zh_cn/crit_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1},{131,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,67}</string>
			</dict>
			<key>text_zh_cn/dodge_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,99},{139,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,47}</string>
			</dict>
			<key>text_zh_cn/m5-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,765},{27,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,88}</string>
			</dict>
			<key>text_zh_cn/drstrenth_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,141},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>text_zh_cn/messagetitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,99},{86,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,40}</string>
			</dict>
			<key>text_zh_cn/cleanread_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,141},{140,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,40}</string>
			</dict>
			<key>text_zh_cn/onkeyread_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,141},{142,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,38}</string>
			</dict>
			<key>text_zh_cn/msgallget_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,240},{150,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>text_zh_cn.png</string>
			<key>realTextureFileName</key>
			<string>text_zh_cn.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>