<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>text_zh_cn/main_01_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_02_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,1},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_03_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_04_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,47},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_05_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,93},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_06_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,99},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_07_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,99},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_08_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,99},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_09_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,99},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_10_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,99},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_achbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,145},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>text_zh_cn/main_mailbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,145},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,36}</string>
			</dict>
			<key>text_zh_cn/main_packbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,185},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>
			<key>text_zh_cn/main_rankbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,363},{84,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,34}</string>
			</dict>
			<key>text_zh_cn/main_setbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,145},{56,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,32}</string>
			</dict>
			<key>text_zh_cn/main_shopbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,145},{58,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,38}</string>
			</dict>
			<key>text_zh_cn/innroomtitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,145},{78,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,38}</string>
			</dict>
			<key>text_zh_cn/innroolv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,139},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>text_zh_cn/recruit_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,99},{156,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,42}</string>
			</dict>
			<key>text_zh_cn/herofire_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,223},{82,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,48}</string>
			</dict>
			<key>text_zh_cn/equiptext_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,225},{44,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,26}</string>
			</dict>
			<key>text_zh_cn/equiptext_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,145},{44,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,26}</string>
			</dict>
			<key>text_zh_cn/equiptext_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,221},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>text_zh_cn/equiptext_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,145},{50,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,28}</string>
			</dict>
			<key>text_zh_cn/equiptext_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,173},{44,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,24}</string>
			</dict>
			<key>text_zh_cn/equiptext_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,145},{44,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,26}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/recruitbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,253},{78,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,42}</string>
			</dict>
			<key>text_zh_cn/backbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,449},{74,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,34}</string>
			</dict>
			<key>text_zh_cn/changebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,145},{76,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,38}</string>
			</dict>
			<key>text_zh_cn/firebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,145},{74,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,42}</string>
			</dict>
			<key>text_zh_cn/isrecruited_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,155},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>text_zh_cn/srefresh_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,303},{156,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,39}</string>
			</dict>
			<key>text_zh_cn/crefresh_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,155},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>text_zh_cn/hilllv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,181},{148,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,40}</string>
			</dict>
			<key>text_zh_cn/hillrecruit.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,155},{146,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,42}</string>
			</dict>
			<key>text_zh_cn/homehilltitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,281},{80,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,32}</string>
			</dict>
			<key>text_zh_cn/resitemlv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,223},{84,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,48}</string>
			</dict>
			<key>text_zh_cn/drlvupbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,99},{156,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,40}</string>
			</dict>
			<key>text_zh_cn/lvupbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,145},{78,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>text_zh_cn.png</string>
			<key>realTextureFileName</key>
			<string>text_zh_cn.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>