<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/r001.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,648},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/r003.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,567},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/r004.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,567},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/r005.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,678},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/r002.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,678},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/main_menu_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,437},{146,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>ui/h_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,585},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/main_achbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,832},{84,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,82}</string>
			</dict>
			<key>ui/main_mailbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2228,442},{84,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,82}</string>
			</dict>
			<key>ui/main_rankbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2228,528},{82,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,84}</string>
			</dict>
			<key>ui/main_setbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{2312,442},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>ui/main_shopbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,748},{92,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,82}</string>
			</dict>
			<key>ui/main_btn_redpoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,745},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>ui/main_addbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,660},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>ui/main_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,701},{42,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,26}</string>
			</dict>
			<key>ui/main_coin_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,766},{156,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,54}</string>
			</dict>
			<key>ui/main_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,702},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>ui/normal9bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,1},{400,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,190}</string>
			</dict>
			<key>ui/buildingactbtn_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,829},{150,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,62}</string>
			</dict>
			<key>ui/buildingactbtn_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,281},{204,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,84}</string>
			</dict>
			<key>ui/buildinglvbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,607},{78,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,34}</string>
			</dict>
			<key>ui/top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{714,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{714,130}</string>
			</dict>
			<key>ui/buildingtitlebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,487},{224,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,70}</string>
			</dict>
			<key>ui/herobox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,133},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,133},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,281},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,281},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/heroitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,125},{532,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{532,140}</string>
			</dict>
			<key>ui/actionbtn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,713},{144,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,80}</string>
			</dict>
			<key>ui/herobox_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,437},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/smallstar.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,607},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>ui/herotag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,856},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>ui/closebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,746},{80,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,128}</string>
			</dict>
			<key>ui/randheadbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,133},{146,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,396}</string>
			</dict>
			<key>ui/h_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,593},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,267},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,289},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,289},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,428},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,428},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,267},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/equipbox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2120,334},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2120,442},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,267},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/equipbox_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,267},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/equipbox_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2120,550},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2214,658},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/heroattrnamebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,521},{243,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,54}</string>
			</dict>
			<key>ui/heroattrmodify.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,567},{30,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,38}</string>
			</dict>
			<key>ui/heroattrexpbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,648},{210,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,14}</string>
			</dict>
			<key>ui/heroattrexpbarbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,567},{210,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,14}</string>
			</dict>
			<key>ui/heroattradd.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,666},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>ui/blank.png</key>
			<dict>
				<key>frame</key>
				<string>{{2228,334},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/timebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,406},{128,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,30}</string>
			</dict>
			<key>ui/timebargb.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,536},{128,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,30}</string>
			</dict>
			<key>ui/timeicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,577},{18,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,28}</string>
			</dict>
			<key>ui/timeiconbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,708},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>ui/resaddbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,724},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>ui/resitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1},{628,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,122}</string>
			</dict>
			<key>ui/ressunbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,768},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>ui/resbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,394},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/resbox_qu0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,394},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/cardnamebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,567},{132,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,28}</string>
			</dict>
			<key>ui/top2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,125},{714,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{714,90}</string>
			</dict>
			<key>ui/ninegrid.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,812},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>ui/herohpbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,289},{142,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,22}</string>
			</dict>
			<key>ui/herohpbarbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,433},{142,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,22}</string>
			</dict>
			<key>ui/catabtn_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,521},{152,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,68}</string>
			</dict>
			<key>ui/catabtn_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,675},{152,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,68}</string>
			</dict>
			<key>ui/a001.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,724},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,732},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a003.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,835},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,843},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a005.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,660},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a006.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,660},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a007.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,759},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a008.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,870},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a009.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,771},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a010.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,771},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a011.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,876},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a012.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,789},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a013.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,859},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a014.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,946},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,954},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a016.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,789},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a017.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,882},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a018.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,882},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a019.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,900},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a020.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,900},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a021.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,970},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a022.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1057},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1065},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,841},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,193},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,304},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,415},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,526},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/e001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,637},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/e002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,748},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/e003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,193},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/e004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,304},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/f001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,415},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/f002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,526},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/f003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,637},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/f004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,748},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/h001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,193},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/h002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,304},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/h003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,415},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/h004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,526},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/resbox_qu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,406},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/resbox_qu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,406},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/resbox_qu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,533},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/resbox_qu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,533},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/b001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,637},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/b002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1659,748},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/b003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,193},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/b004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,1},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/c001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,304},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/d001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,415},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/d002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,526},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/d003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,637},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/d004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1770,748},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/d005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,112},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/m001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,1},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/m002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,223},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/m003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,334},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/m004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,445},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/s001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,556},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/s002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,667},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/s003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,112},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/s004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,1},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,223},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,334},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,445},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,556},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,667},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2009,112},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2082,1},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2009,223},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2009,334},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2009,445},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2009,556},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2103,667},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2120,112},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2193,1},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2120,223},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/equipstonebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,521},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/setpline0.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,437},{6,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,182}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui.png</string>
			<key>realTextureFileName</key>
			<string>ui.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>