<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/kapaisiwang/kapaisiwang_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,946},{74,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,946},{74,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,217},{74,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,352},{164,152}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,861},{167,155}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,692},{170,160}}</string>
				<key>offset</key>
				<string>{1,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,352},{170,163}}</string>
				<key>offset</key>
				<string>{1,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{171,176}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,176},{170,176}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,522},{170,163}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,692},{169,158}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,862},{169,159}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,516},{91,118}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,516},{91,119}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,0},{92,119}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,0},{92,120}}</string>
				<key>offset</key>
				<string>{-1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,176},{94,120}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,634},{95,112}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,746},{97,100}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,846},{94,100}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,119},{95,98}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/kapaisiwang/kapaisiwang_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,0},{92,97}}</string>
				<key>offset</key>
				<string>{2,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>carddeathpacker.png</string>
			<key>realTextureFileName</key>
			<string>carddeathpacker.png</string>
			<key>size</key>
			<string>{512,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>