<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,73},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,803},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,876},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,146},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,219},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,949},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,803},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,876},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,292},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,365},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,438},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,949},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,0},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,73},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,511},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,584},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,146},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,219},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,292},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,657},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/tubiaobiankuangxiaoguo/tubiaobiankuangxiaoguo_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,730},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>resboxeffectpacker.png</string>
			<key>realTextureFileName</key>
			<string>resboxeffectpacker.png</string>
			<key>size</key>
			<string>{145,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>145</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>