<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/quleicedian/luolei_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,892},{223,302}}</string>
				<key>offset</key>
				<string>{3,169}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,1792},{211,298}}</string>
				<key>offset</key>
				<string>{0,171}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{238,294}}</string>
				<key>offset</key>
				<string>{-3,173}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,302},{250,293}}</string>
				<key>offset</key>
				<string>{-10,174}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{271,299}}</string>
				<key>offset</key>
				<string>{-21,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{277,302}}</string>
				<key>offset</key>
				<string>{-23,169}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,892},{230,308}}</string>
				<key>offset</key>
				<string>{-1,166}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1494},{212,298}}</string>
				<key>offset</key>
				<string>{5,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,1194},{208,302}}</string>
				<key>offset</key>
				<string>{-1,169}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1183},{200,297}}</string>
				<key>offset</key>
				<string>{-4,172}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,885},{201,298}}</string>
				<key>offset</key>
				<string>{-1,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,1490},{208,302}}</string>
				<key>offset</key>
				<string>{-1,169}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,877},{188,294}}</string>
				<key>offset</key>
				<string>{-2,173}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,1468},{196,297}}</string>
				<key>offset</key>
				<string>{-2,172}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1494},{215,298}}</string>
				<key>offset</key>
				<string>{-7,171}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,1792},{208,302}}</string>
				<key>offset</key>
				<string>{-1,169}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1171},{188,294}}</string>
				<key>offset</key>
				<string>{-2,173}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1765},{196,297}}</string>
				<key>offset</key>
				<string>{-2,172}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,0},{201,200}}</string>
				<key>offset</key>
				<string>{-1,122}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,1662},{208,208}}</string>
				<key>offset</key>
				<string>{-1,122}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/luolei_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,0},{189,188}}</string>
				<key>offset</key>
				<string>{6,129}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,1487},{204,301}}</string>
				<key>offset</key>
				<string>{11,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,595},{201,282}}</string>
				<key>offset</key>
				<string>{11,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1792},{232,274}}</string>
				<key>offset</key>
				<string>{-4,-53}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,0},{235,305}}</string>
				<key>offset</key>
				<string>{0,-70}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,595},{231,290}}</string>
				<key>offset</key>
				<string>{-2,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1443},{230,240}}</string>
				<key>offset</key>
				<string>{0,-101}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1437},{220,225}}</string>
				<key>offset</key>
				<string>{2,-105}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,1753},{203,216}}</string>
				<key>offset</key>
				<string>{10,-103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,0},{203,181}}</string>
				<key>offset</key>
				<string>{10,-85}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,203},{201,180}}</string>
				<key>offset</key>
				<string>{11,-85}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,0},{201,189}}</string>
				<key>offset</key>
				<string>{11,-89}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,1870},{200,175}}</string>
				<key>offset</key>
				<string>{12,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1587,1870},{200,164}}</string>
				<key>offset</key>
				<string>{12,-77}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,0},{200,149}}</string>
				<key>offset</key>
				<string>{12,-69}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,200},{200,149}}</string>
				<key>offset</key>
				<string>{12,-69}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,235},{40,58}}</string>
				<key>offset</key>
				<string>{-6,-106}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,595},{1,1}}</string>
				<key>offset</key>
				<string>{179,-319}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,439},{118,114}}</string>
				<key>offset</key>
				<string>{-1,-97}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,235},{204,196}}</string>
				<key>offset</key>
				<string>{-2,-97}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,601},{291,278}}</string>
				<key>offset</key>
				<string>{-3,-97}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,123},{146,122}}</string>
				<key>offset</key>
				<string>{2,-95}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1485,0},{123,95}}</string>
				<key>offset</key>
				<string>{0,-94}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,235},{146,65}}</string>
				<key>offset</key>
				<string>{-2,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1683},{176,70}}</string>
				<key>offset</key>
				<string>{-2,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1359},{197,78}}</string>
				<key>offset</key>
				<string>{-3,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,1961},{215,83}}</string>
				<key>offset</key>
				<string>{-3,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1961},{222,86}}</string>
				<key>offset</key>
				<string>{-3,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,1402},{222,88}}</string>
				<key>offset</key>
				<string>{0,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,1383},{225,85}}</string>
				<key>offset</key>
				<string>{-1,-94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,1402},{228,85}}</string>
				<key>offset</key>
				<string>{0,-94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/quleicedian/sishou_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1359},{211,84}}</string>
				<key>offset</key>
				<string>{-3,-94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill6packer.png</string>
			<key>realTextureFileName</key>
			<string>skill6packer.png</string>
			<key>size</key>
			<string>{1988,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1988</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>