<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/huanbujiji/eft_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,277},{118,115}}</string>
				<key>offset</key>
				<string>{-2,134}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,0},{264,206}}</string>
				<key>offset</key>
				<string>{-1,129}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{353,332}}</string>
				<key>offset</key>
				<string>{1,138}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1643,620},{236,124}}</string>
				<key>offset</key>
				<string>{-1,129}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,329},{220,127}}</string>
				<key>offset</key>
				<string>{-1,128}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,829},{135,137}}</string>
				<key>offset</key>
				<string>{-1,130}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,761},{141,143}}</string>
				<key>offset</key>
				<string>{-1,128}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,635},{149,150}}</string>
				<key>offset</key>
				<string>{0,126}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,456},{151,152}}</string>
				<key>offset</key>
				<string>{0,125}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,332},{154,153}}</string>
				<key>offset</key>
				<string>{-1,125}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,1108},{156,154}}</string>
				<key>offset</key>
				<string>{-1,125}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,902},{158,156}}</string>
				<key>offset</key>
				<string>{0,124}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,744},{158,159}}</string>
				<key>offset</key>
				<string>{0,125}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1345,691},{158,160}}</string>
				<key>offset</key>
				<string>{-2,124}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,678},{161,159}}</string>
				<key>offset</key>
				<string>{-1,124}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,849},{156,160}}</string>
				<key>offset</key>
				<string>{0,122}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,1058},{156,155}}</string>
				<key>offset</key>
				<string>{0,125}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,607},{146,152}}</string>
				<key>offset</key>
				<string>{0,126}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,541},{147,150}}</string>
				<key>offset</key>
				<string>{-1,126}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,466},{147,151}}</string>
				<key>offset</key>
				<string>{-2,126}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,753},{146,150}}</string>
				<key>offset</key>
				<string>{-2,124}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,329},{137,130}}</string>
				<key>offset</key>
				<string>{-5,133}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,821},{140,127}}</string>
				<key>offset</key>
				<string>{-3,133}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{1504,961},{140,127}}</string>
				<key>offset</key>
				<string>{-3,133}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,541},{142,123}}</string>
				<key>offset</key>
				<string>{-2,135}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1058},{137,125}}</string>
				<key>offset</key>
				<string>{0,136}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,947},{130,124}}</string>
				<key>offset</key>
				<string>{-1,135}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,837},{130,126}}</string>
				<key>offset</key>
				<string>{0,135}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1023},{132,130}}</string>
				<key>offset</key>
				<string>{-1,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,927},{131,132}}</string>
				<key>offset</key>
				<string>{-3,135}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,902},{130,133}}</string>
				<key>offset</key>
				<string>{-4,135}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,926},{134,131}}</string>
				<key>offset</key>
				<string>{-4,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,691},{137,130}}</string>
				<key>offset</key>
				<string>{-5,133}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,807},{140,127}}</string>
				<key>offset</key>
				<string>{-3,133}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,829},{140,127}}</string>
				<key>offset</key>
				<string>{-3,133}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,899},{142,124}}</string>
				<key>offset</key>
				<string>{-2,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,821},{137,125}}</string>
				<key>offset</key>
				<string>{0,136}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,956},{130,124}}</string>
				<key>offset</key>
				<string>{-1,135}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,946},{130,126}}</string>
				<key>offset</key>
				<string>{0,135}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1057},{132,130}}</string>
				<key>offset</key>
				<string>{-1,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1153},{125,127}}</string>
				<key>offset</key>
				<string>{-4,135}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,1032},{124,129}}</string>
				<key>offset</key>
				<string>{-5,135}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00060.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,683},{124,123}}</string>
				<key>offset</key>
				<string>{-5,134}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,395},{117,115}}</string>
				<key>offset</key>
				<string>{-3,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00062.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,510},{113,113}}</string>
				<key>offset</key>
				<string>{-4,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/eft_00063.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,531},{113,113}}</string>
				<key>offset</key>
				<string>{-4,134}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2033,0},{1,1}}</string>
				<key>offset</key>
				<string>{179,-319}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,802},{160,156}}</string>
				<key>offset</key>
				<string>{8,-110}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,518},{161,163}}</string>
				<key>offset</key>
				<string>{5,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,613},{148,148}}</string>
				<key>offset</key>
				<string>{0,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,485},{150,151}}</string>
				<key>offset</key>
				<string>{0,-96}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1879,623},{179,160}}</string>
				<key>offset</key>
				<string>{-1,-100}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,513},{184,165}}</string>
				<key>offset</key>
				<string>{-1,-100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,456},{184,164}}</string>
				<key>offset</key>
				<string>{-1,-100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,531},{183,160}}</string>
				<key>offset</key>
				<string>{-1,-100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,390},{180,151}}</string>
				<key>offset</key>
				<string>{1,-94}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1790,958},{164,150}}</string>
				<key>offset</key>
				<string>{7,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,678},{151,138}}</string>
				<key>offset</key>
				<string>{2,-97}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,1187},{123,124}}</string>
				<key>offset</key>
				<string>{-4,-101}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1195},{119,119}}</string>
				<key>offset</key>
				<string>{-2,-103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,456},{103,103}}</string>
				<key>offset</key>
				<string>{-2,-103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,115},{88,88}}</string>
				<key>offset</key>
				<string>{-2,-103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,203},{74,74}}</string>
				<key>offset</key>
				<string>{-2,-103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1423,206},{59,59}}</string>
				<key>offset</key>
				<string>{-3,-102}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,0},{115,86}}</string>
				<key>offset</key>
				<string>{-1,-103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,0},{264,206}}</string>
				<key>offset</key>
				<string>{-1,-105}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,0},{353,329}}</string>
				<key>offset</key>
				<string>{1,-110}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,220},{236,209}}</string>
				<key>offset</key>
				<string>{-1,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1722,0},{220,225}}</string>
				<key>offset</key>
				<string>{-1,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1485,0},{222,237}}</string>
				<key>offset</key>
				<string>{4,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,0},{234,251}}</string>
				<key>offset</key>
				<string>{4,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,637},{153,145}}</string>
				<key>offset</key>
				<string>{-1,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,483},{154,149}}</string>
				<key>offset</key>
				<string>{0,-96}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,332},{153,151}}</string>
				<key>offset</key>
				<string>{-1,-96}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,377},{154,226}}</string>
				<key>offset</key>
				<string>{1,-59}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,364},{154,227}}</string>
				<key>offset</key>
				<string>{2,-60}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,222},{155,229}}</string>
				<key>offset</key>
				<string>{1,-60}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,234},{156,230}}</string>
				<key>offset</key>
				<string>{0,-61}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,206},{158,232}}</string>
				<key>offset</key>
				<string>{2,-60}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,206},{153,234}}</string>
				<key>offset</key>
				<string>{1,-61}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,359},{154,229}}</string>
				<key>offset</key>
				<string>{2,-59}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,784},{143,143}}</string>
				<key>offset</key>
				<string>{2,-98}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,679},{143,142}}</string>
				<key>offset</key>
				<string>{1,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,688},{144,141}}</string>
				<key>offset</key>
				<string>{1,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,782},{144,144}}</string>
				<key>offset</key>
				<string>{0,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/huanbujiji/shifa_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{2034,0},{1,1}}</string>
				<key>offset</key>
				<string>{179,-319}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill10packer.png</string>
			<key>realTextureFileName</key>
			<string>skill10packer.png</string>
			<key>size</key>
			<string>{2048,1314}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1314</integer>
		</dict>
	</dict>
</plist>