<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/qisihuisheng/qihuisheng_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,436},{219,241}}</string>
				<key>offset</key>
				<string>{2,-89}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,0},{239,229}}</string>
				<key>offset</key>
				<string>{-13,-89}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,976},{263,229}}</string>
				<key>offset</key>
				<string>{-7,-101}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,710},{264,235}}</string>
				<key>offset</key>
				<string>{1,-109}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,1415},{274,258}}</string>
				<key>offset</key>
				<string>{-7,-92}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,1812},{273,235}}</string>
				<key>offset</key>
				<string>{-1,-97}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1002},{273,279}}</string>
				<key>offset</key>
				<string>{-6,-97}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1443},{261,272}}</string>
				<key>offset</key>
				<string>{-3,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1412},{229,256}}</string>
				<key>offset</key>
				<string>{-3,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,710},{230,266}}</string>
				<key>offset</key>
				<string>{17,-100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,624},{209,234}}</string>
				<key>offset</key>
				<string>{14,-97}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,1502},{185,215}}</string>
				<key>offset</key>
				<string>{6,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,796},{169,199}}</string>
				<key>offset</key>
				<string>{2,-98}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1356,554},{165,174}}</string>
				<key>offset</key>
				<string>{-3,-98}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,677},{229,229}}</string>
				<key>offset</key>
				<string>{-3,-100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,449},{261,261}}</string>
				<key>offset</key>
				<string>{-3,-100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1608},{209,209}}</string>
				<key>offset</key>
				<string>{-3,-100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1281},{134,133}}</string>
				<key>offset</key>
				<string>{-5,-98}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1715},{114,118}}</string>
				<key>offset</key>
				<string>{1,-102}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1689},{123,121}}</string>
				<key>offset</key>
				<string>{-8,-95}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1829},{207,290}}</string>
				<key>offset</key>
				<string>{-3,-59}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1444},{258,385}}</string>
				<key>offset</key>
				<string>{-3,-37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1002},{232,442}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{244,518}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,518},{258,484}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,0},{270,449}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1829},{178,357}}</string>
				<key>offset</key>
				<string>{-7,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,1668},{180,318}}</string>
				<key>offset</key>
				<string>{-7,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,0},{185,272}}</string>
				<key>offset</key>
				<string>{-7,-49}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1815},{190,215}}</string>
				<key>offset</key>
				<string>{-5,-79}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,1598},{190,217}}</string>
				<key>offset</key>
				<string>{-3,-80}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,567},{195,229}}</string>
				<key>offset</key>
				<string>{-2,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,185},{188,233}}</string>
				<key>offset</key>
				<string>{3,-77}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1817},{177,237}}</string>
				<key>offset</key>
				<string>{-5,-79}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1239},{173,240}}</string>
				<key>offset</key>
				<string>{-4,-81}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,1355},{177,243}}</string>
				<key>offset</key>
				<string>{-4,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,1173},{182,246}}</string>
				<key>offset</key>
				<string>{-4,-84}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,374},{180,245}}</string>
				<key>offset</key>
				<string>{5,-86}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,0},{185,245}}</string>
				<key>offset</key>
				<string>{6,-89}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,1364},{186,244}}</string>
				<key>offset</key>
				<string>{7,-93}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,185},{189,247}}</string>
				<key>offset</key>
				<string>{8,-95}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1174},{190,262}}</string>
				<key>offset</key>
				<string>{9,-92}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,193},{193,265}}</string>
				<key>offset</key>
				<string>{9,-93}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,386},{181,264}}</string>
				<key>offset</key>
				<string>{1,-98}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,906},{184,267}}</string>
				<key>offset</key>
				<string>{1,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,906},{187,268}}</string>
				<key>offset</key>
				<string>{1,-100}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,436},{188,273}}</string>
				<key>offset</key>
				<string>{0,-99}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,0},{193,275}}</string>
				<key>offset</key>
				<string>{-1,-101}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,239},{197,273}}</string>
				<key>offset</key>
				<string>{-1,-103}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,858},{195,231}}</string>
				<key>offset</key>
				<string>{2,-86}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,1298},{198,204}}</string>
				<key>offset</key>
				<string>{3,-104}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{1294,1089},{201,209}}</string>
				<key>offset</key>
				<string>{2,-103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{1527,1717},{182,215}}</string>
				<key>offset</key>
				<string>{-8,-103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1281},{181,162}}</string>
				<key>offset</key>
				<string>{-10,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1715},{153,83}}</string>
				<key>offset</key>
				<string>{-26,-73}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,1689},{85,84}}</string>
				<key>offset</key>
				<string>{-59,-74}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,460},{10,10}}</string>
				<key>offset</key>
				<string>{-22,-37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qisihuisheng/qihuisheng_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,449},{11,11}}</string>
				<key>offset</key>
				<string>{-22,-36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill13packer.png</string>
			<key>realTextureFileName</key>
			<string>skill13packer.png</string>
			<key>size</key>
			<string>{1709,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1709</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>