<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,0},{299,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,506},{304,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,810},{304,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,506},{302,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1285,344},{298,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,0},{298,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,344},{299,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b16.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,726},{300,172}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b17.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,253},{301,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b18.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,0},{301,172}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b19.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,344},{300,172}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,425},{301,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,425},{301,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,642},{298,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,172},{300,172}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,643},{299,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,172},{301,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,0},{301,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,808},{302,172}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>effect/skeleton-animation_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{253,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,253}</string>
			</dict>
			<key>effect/skeleton-animation_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,253},{253,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,253}</string>
			</dict>
			<key>effect/skeleton-animation_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,506},{253,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,253}</string>
			</dict>
			<key>effect/skeleton-animation_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,759},{253,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,253}</string>
			</dict>
			<key>effect/skeleton-animation_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,253},{253,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,253}</string>
			</dict>
			<key>effect/skeleton-animation_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,0},{253,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,253}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill17packer.png</string>
			<key>realTextureFileName</key>
			<string>skill17packer.png</string>
			<key>size</key>
			<string>{1579,1012}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1579</integer>
			<key>height</key>
			<integer>1012</integer>
		</dict>
	</dict>
</plist>