<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1472},{70,45}}</string>
				<key>offset</key>
				<string>{-5,-95}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,821},{154,106}}</string>
				<key>offset</key>
				<string>{-21,-91}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,652},{163,135}}</string>
				<key>offset</key>
				<string>{-20,-78}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,0},{203,146}}</string>
				<key>offset</key>
				<string>{-16,-76}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,241},{203,155}}</string>
				<key>offset</key>
				<string>{-11,-79}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1320},{258,160}}</string>
				<key>offset</key>
				<string>{15,-82}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,245},{235,196}}</string>
				<key>offset</key>
				<string>{9,-67}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,632},{253,207}}</string>
				<key>offset</key>
				<string>{14,-70}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,936},{232,238}}</string>
				<key>offset</key>
				<string>{-1,-66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1231},{240,241}}</string>
				<key>offset</key>
				<string>{14,-73}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1518},{257,248}}</string>
				<key>offset</key>
				<string>{16,-78}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1231},{245,287}}</string>
				<key>offset</key>
				<string>{-4,-66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,936},{254,295}}</string>
				<key>offset</key>
				<string>{-8,-70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,632},{271,304}}</string>
				<key>offset</key>
				<string>{-9,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{287,312}}</string>
				<key>offset</key>
				<string>{-9,-79}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{301,320}}</string>
				<key>offset</key>
				<string>{-11,-83}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,0},{187,243}}</string>
				<key>offset</key>
				<string>{6,-44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{191,245}}</string>
				<key>offset</key>
				<string>{7,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,584},{199,237}}</string>
				<key>offset</key>
				<string>{9,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,1083},{178,237}}</string>
				<key>offset</key>
				<string>{-1,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,0},{178,241}}</string>
				<key>offset</key>
				<string>{-1,-43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,243},{177,246}}</string>
				<key>offset</key>
				<string>{-1,-46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1355},{177,250}}</string>
				<key>offset</key>
				<string>{-1,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1472},{178,252}}</string>
				<key>offset</key>
				<string>{0,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,1775},{178,254}}</string>
				<key>offset</key>
				<string>{0,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,0},{180,260}}</string>
				<key>offset</key>
				<string>{0,-53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,1517},{180,251}}</string>
				<key>offset</key>
				<string>{0,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1605},{179,247}}</string>
				<key>offset</key>
				<string>{-1,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,1423},{179,248}}</string>
				<key>offset</key>
				<string>{-1,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1724},{179,249}}</string>
				<key>offset</key>
				<string>{-1,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1107},{179,248}}</string>
				<key>offset</key>
				<string>{-1,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1671},{180,246}}</string>
				<key>offset</key>
				<string>{-1,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,927},{180,248}}</string>
				<key>offset</key>
				<string>{-1,-47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1174},{180,249}}</string>
				<key>offset</key>
				<string>{-1,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,480},{179,245}}</string>
				<key>offset</key>
				<string>{-2,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1768},{179,252}}</string>
				<key>offset</key>
				<string>{-2,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,320},{195,264}}</string>
				<key>offset</key>
				<string>{-1,-55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1775},{179,253}}</string>
				<key>offset</key>
				<string>{-2,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,725},{179,245}}</string>
				<key>offset</key>
				<string>{-2,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,904},{179,245}}</string>
				<key>offset</key>
				<string>{-2,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1852},{180,245}}</string>
				<key>offset</key>
				<string>{-2,-45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,1817},{166,239}}</string>
				<key>offset</key>
				<string>{-1,-48}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,1578},{167,239}}</string>
				<key>offset</key>
				<string>{-2,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/jinzhongzhao/jinzhongzhao_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,420},{155,232}}</string>
				<key>offset</key>
				<string>{-2,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill18packer.png</string>
			<key>realTextureFileName</key>
			<string>skill18packer.png</string>
			<key>size</key>
			<string>{1379,2032}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1379</integer>
			<key>height</key>
			<integer>2032</integer>
		</dict>
	</dict>
</plist>