<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/qiaoguxisui/shifa_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,666},{176,178}}</string>
				<key>offset</key>
				<string>{-4,-93}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,173},{88,103}}</string>
				<key>offset</key>
				<string>{-4,-102}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,861},{93,91}}</string>
				<key>offset</key>
				<string>{-3,-110}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,752},{101,109}}</string>
				<key>offset</key>
				<string>{-2,-103}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,633},{111,119}}</string>
				<key>offset</key>
				<string>{-3,-99}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,287},{112,143}}</string>
				<key>offset</key>
				<string>{-2,-93}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,0},{108,173}}</string>
				<key>offset</key>
				<string>{-2,-81}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,187},{100,203}}</string>
				<key>offset</key>
				<string>{-1,-60}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,0},{103,202}}</string>
				<key>offset</key>
				<string>{0,-51}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,103},{84,197}}</string>
				<key>offset</key>
				<string>{-3,-47}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,580},{67,166}}</string>
				<key>offset</key>
				<string>{-1,-62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,347},{53,134}}</string>
				<key>offset</key>
				<string>{1,-55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,844},{42,88}}</string>
				<key>offset</key>
				<string>{-4,-59}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,844},{27,40}}</string>
				<key>offset</key>
				<string>{-9,-58}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/shifa_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,844},{21,21}}</string>
				<key>offset</key>
				<string>{-10,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,103},{74,108}}</string>
				<key>offset</key>
				<string>{-5,130}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,497},{82,113}}</string>
				<key>offset</key>
				<string>{-2,127}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,415},{89,115}}</string>
				<key>offset</key>
				<string>{-1,124}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,915},{101,122}}</string>
				<key>offset</key>
				<string>{-3,120}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,783},{116,132}}</string>
				<key>offset</key>
				<string>{-4,114}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,497},{119,136}}</string>
				<key>offset</key>
				<string>{-5,110}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,347},{137,150}}</string>
				<key>offset</key>
				<string>{-6,102}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,191},{143,156}}</string>
				<key>offset</key>
				<string>{-7,97}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,824},{145,169}}</string>
				<key>offset</key>
				<string>{-7,89}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,406},{151,174}}</string>
				<key>offset</key>
				<string>{-7,84}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,228},{150,178}}</string>
				<key>offset</key>
				<string>{-7,83}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,658},{150,188}}</string>
				<key>offset</key>
				<string>{-7,78}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,681},{152,209}}</string>
				<key>offset</key>
				<string>{-7,69}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,232},{151,217}}</string>
				<key>offset</key>
				<string>{-7,60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,459},{150,222}}</string>
				<key>offset</key>
				<string>{-6,57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{147,227}}</string>
				<key>offset</key>
				<string>{-6,46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{148,232}}</string>
				<key>offset</key>
				<string>{-5,31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{147,221}}</string>
				<key>offset</key>
				<string>{-5,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,449},{145,217}}</string>
				<key>offset</key>
				<string>{-4,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,0},{141,228}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,449},{140,209}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,846},{139,198}}</string>
				<key>offset</key>
				<string>{-3,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,0},{139,191}}</string>
				<key>offset</key>
				<string>{-4,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,647},{139,177}}</string>
				<key>offset</key>
				<string>{-5,-30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,890},{133,178}}</string>
				<key>offset</key>
				<string>{-4,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,886},{131,166}}</string>
				<key>offset</key>
				<string>{-6,-35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,187},{130,157}}</string>
				<key>offset</key>
				<string>{-7,-39}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,645},{124,138}}</string>
				<key>offset</key>
				<string>{-4,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,287},{122,128}}</string>
				<key>offset</key>
				<string>{-5,-54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,493},{114,112}}</string>
				<key>offset</key>
				<string>{-1,-61}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,607},{103,104}}</string>
				<key>offset</key>
				<string>{3,-62}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,0},{101,95}}</string>
				<key>offset</key>
				<string>{1,-63}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,579},{98,66}}</string>
				<key>offset</key>
				<string>{4,-76}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,430},{83,63}}</string>
				<key>offset</key>
				<string>{1,-77}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,276},{74,62}}</string>
				<key>offset</key>
				<string>{0,-78}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/qiaoguxisui/zidan_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,430},{75,63}}</string>
				<key>offset</key>
				<string>{-1,-78}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill1packer.png</string>
			<key>realTextureFileName</key>
			<string>skill1packer.png</string>
			<key>size</key>
			<string>{1019,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1019</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>