<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/bao0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2803,0},{347,346}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>effect/bao0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2426,1142},{364,293}}</string>
				<key>offset</key>
				<string>{-2,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{484,530}</string>
			</dict>
			<key>effect/bao0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,0},{424,491}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{484,530}</string>
			</dict>
			<key>effect/bao0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{436,508}}</string>
				<key>offset</key>
				<string>{6,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{484,530}</string>
			</dict>
			<key>effect/bao0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1236},{451,526}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{484,530}</string>
			</dict>
			<key>effect/bao0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1734,0},{420,478}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{484,530}</string>
			</dict>
			<key>effect/bao0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,0},{424,492}}</string>
				<key>offset</key>
				<string>{7,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{484,530}</string>
			</dict>
			<key>effect/blood0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2448,1763},{242,248}}</string>
				<key>offset</key>
				<string>{-106,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,480}</string>
			</dict>
			<key>effect/blood0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2448,1506},{257,245}}</string>
				<key>offset</key>
				<string>{-101,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,480}</string>
			</dict>
			<key>effect/blood0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2693,1506},{231,254}}</string>
				<key>offset</key>
				<string>{-114,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,480}</string>
			</dict>
			<key>effect/blood0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2753,503},{247,259}}</string>
				<key>offset</key>
				<string>{-105,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,480}</string>
			</dict>
			<key>effect/blood0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2555,896},{272,233}}</string>
				<key>offset</key>
				<string>{-88,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,480}</string>
			</dict>
			<key>effect/blood0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2690,1763},{294,203}}</string>
				<key>offset</key>
				<string>{-39,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,480}</string>
			</dict>
			<key>effect/blood0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2664,410},{242,93}}</string>
				<key>offset</key>
				<string>{1,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,480}</string>
			</dict>
			<key>effect/blood0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,508},{249,98}}</string>
				<key>offset</key>
				<string>{11,-66}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,480}</string>
			</dict>
			<key>effect/dg.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,952},{251,454}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,686}</string>
			</dict>
			<key>effect/dg0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,1194},{347,485}}</string>
				<key>offset</key>
				<string>{-81,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{955,692}</string>
			</dict>
			<key>effect/dg0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1300},{472,553}}</string>
				<key>offset</key>
				<string>{9,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{955,692}</string>
			</dict>
			<key>effect/dg0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,638}}</string>
				<key>offset</key>
				<string>{26,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{955,692}</string>
			</dict>
			<key>effect/dg0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,638},{436,598}}</string>
				<key>offset</key>
				<string>{55,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{955,692}</string>
			</dict>
			<key>effect/dg0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1203},{393,521}}</string>
				<key>offset</key>
				<string>{75,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{955,692}</string>
			</dict>
			<key>effect/dg0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,622},{291,466}}</string>
				<key>offset</key>
				<string>{62,-31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{955,692}</string>
			</dict>
			<key>effect/dg0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,952},{242,468}}</string>
				<key>offset</key>
				<string>{84,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{955,692}</string>
			</dict>
			<key>effect/dg0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,1853},{187,413}}</string>
				<key>offset</key>
				<string>{86,-62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{955,692}</string>
			</dict>
			<key>effect/dg0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1853},{190,415}}</string>
				<key>offset</key>
				<string>{86,-62}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{955,692}</string>
			</dict>
			<key>effect/ju0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,1679},{368,422}}</string>
				<key>offset</key>
				<string>{-21,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{712,519}</string>
			</dict>
			<key>effect/ju0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1663,1194},{392,407}}</string>
				<key>offset</key>
				<string>{-19,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{712,519}</string>
			</dict>
			<key>effect/ju0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2361,569},{327,392}}</string>
				<key>offset</key>
				<string>{-16,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{712,519}</string>
			</dict>
			<key>effect/ju0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,628},{648,324}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{712,519}</string>
			</dict>
			<key>effect/ju0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,638},{662,425}}</string>
				<key>offset</key>
				<string>{-10,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{712,519}</string>
			</dict>
			<key>effect/ju0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1762},{558,266}}</string>
				<key>offset</key>
				<string>{28,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{712,519}</string>
			</dict>
			<key>effect/sj0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2154,0},{421,349}}</string>
				<key>offset</key>
				<string>{-69,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{576,478}</string>
			</dict>
			<key>effect/sj0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2055,1193},{382,371}}</string>
				<key>offset</key>
				<string>{-80,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{576,478}</string>
			</dict>
			<key>effect/sj0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,621},{386,282}}</string>
				<key>offset</key>
				<string>{-63,41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{576,478}</string>
			</dict>
			<key>effect/sj0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2152,1575},{369,296}}</string>
				<key>offset</key>
				<string>{-53,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{576,478}</string>
			</dict>
			<key>effect/sj0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,913},{379,280}}</string>
				<key>offset</key>
				<string>{-49,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{576,478}</string>
			</dict>
			<key>effect/sj0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1808,1601},{423,344}}</string>
				<key>offset</key>
				<string>{-19,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{576,478}</string>
			</dict>
			<key>effect/sj0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2503,0},{410,300}}</string>
				<key>offset</key>
				<string>{-35,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{576,478}</string>
			</dict>
			<key>effect/sj0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2162,903},{393,239}}</string>
				<key>offset</key>
				<string>{-48,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{576,478}</string>
			</dict>
			<key>effect/xue0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1780,478},{222,143}}</string>
				<key>offset</key>
				<string>{-25,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,387}</string>
			</dict>
			<key>effect/xue0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2436,421},{228,145}}</string>
				<key>offset</key>
				<string>{-24,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,387}</string>
			</dict>
			<key>effect/xue0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2208,421},{228,148}}</string>
				<key>offset</key>
				<string>{-25,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,387}</string>
			</dict>
			<key>effect/xue0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,492},{223,136}}</string>
				<key>offset</key>
				<string>{-25,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,387}</string>
			</dict>
			<key>effect/xue0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,491},{219,131}}</string>
				<key>offset</key>
				<string>{-24,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,387}</string>
			</dict>
			<key>effect/xue0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,508},{216,125}}</string>
				<key>offset</key>
				<string>{-22,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,387}</string>
			</dict>
			<key>effect/xue0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,508},{214,120}}</string>
				<key>offset</key>
				<string>{-21,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,387}</string>
			</dict>
			<key>effect/xue0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1571,491},{209,116}}</string>
				<key>offset</key>
				<string>{-20,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,387}</string>
			</dict>
			<key>effect/xue0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2002,478},{206,114}}</string>
				<key>offset</key>
				<string>{-19,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,387}</string>
			</dict>
			<key>effect/xue0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2753,762},{205,109}}</string>
				<key>offset</key>
				<string>{-18,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,387}</string>
			</dict>
			<key>effect/xue0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2906,347},{196,105}}</string>
				<key>offset</key>
				<string>{-20,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,387}</string>
			</dict>
			<key>effect/yu.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1762},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill20packer.png</string>
			<key>realTextureFileName</key>
			<string>skill20packer.png</string>
			<key>size</key>
			<string>{3149,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>3149</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>