<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/leitingzhinu/leitingzhinu_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,348},{208,99}}</string>
				<key>offset</key>
				<string>{-1,-114}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,942},{218,142}}</string>
				<key>offset</key>
				<string>{-14,-79}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1594},{207,173}}</string>
				<key>offset</key>
				<string>{-24,-61}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1395},{199,189}}</string>
				<key>offset</key>
				<string>{-26,-46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,619},{210,221}}</string>
				<key>offset</key>
				<string>{25,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,0},{268,259}}</string>
				<key>offset</key>
				<string>{0,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,268},{269,246}}</string>
				<key>offset</key>
				<string>{-2,-35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,171},{224,242}}</string>
				<key>offset</key>
				<string>{-16,-51}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1775},{259,291}}</string>
				<key>offset</key>
				<string>{2,-87}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,1102},{259,369}}</string>
				<key>offset</key>
				<string>{2,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1475},{288,368}}</string>
				<key>offset</key>
				<string>{-4,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,1475},{288,368}}</string>
				<key>offset</key>
				<string>{-4,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,737},{295,369}}</string>
				<key>offset</key>
				<string>{-1,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1106},{295,369}}</string>
				<key>offset</key>
				<string>{-1,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{296,369}}</string>
				<key>offset</key>
				<string>{0,-48}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,369},{296,368}}</string>
				<key>offset</key>
				<string>{0,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,737},{279,365}}</string>
				<key>offset</key>
				<string>{-9,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,1450},{274,325}}</string>
				<key>offset</key>
				<string>{-11,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1102},{274,329}}</string>
				<key>offset</key>
				<string>{-11,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1843},{189,338}}</string>
				<key>offset</key>
				<string>{-5,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,450},{173,325}}</string>
				<key>offset</key>
				<string>{-3,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,623},{171,318}}</string>
				<key>offset</key>
				<string>{-2,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,719},{176,322}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,537},{182,326}}</string>
				<key>offset</key>
				<string>{0,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,0},{173,329}}</string>
				<key>offset</key>
				<string>{-3,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1843},{189,338}}</string>
				<key>offset</key>
				<string>{-5,-34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,0},{171,325}}</string>
				<key>offset</key>
				<string>{-4,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,0},{170,318}}</string>
				<key>offset</key>
				<string>{0,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1084},{172,311}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,447},{172,315}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,623},{172,319}}</string>
				<key>offset</key>
				<string>{0,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,173},{175,321}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,268},{182,322}}</string>
				<key>offset</key>
				<string>{0,-29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,413},{165,274}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1409,170},{164,256}}</string>
				<key>offset</key>
				<string>{1,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{1527,0},{164,192}}</string>
				<key>offset</key>
				<string>{2,-37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,941},{123,185}}</string>
				<key>offset</key>
				<string>{-5,-38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1431},{19,170}}</string>
				<key>offset</key>
				<string>{0,-46}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
			<key>effect/leitingzhinu/leitingzhinu_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2032},{14,169}}</string>
				<key>offset</key>
				<string>{0,-44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,640}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill12packer.png</string>
			<key>realTextureFileName</key>
			<string>skill12packer.png</string>
			<key>size</key>
			<string>{1719,2046}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1719</integer>
			<key>height</key>
			<integer>2046</integer>
		</dict>
	</dict>
</plist>