<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/dongtanbude/dongtanbude_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,617},{203,189}}</string>
				<key>offset</key>
				<string>{-12,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,708},{200,205}}</string>
				<key>offset</key>
				<string>{-16,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,679},{203,194}}</string>
				<key>offset</key>
				<string>{-16,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,476},{203,198}}</string>
				<key>offset</key>
				<string>{-12,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,0},{190,188}}</string>
				<key>offset</key>
				<string>{-13,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,0},{202,178}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,190},{193,178}}</string>
				<key>offset</key>
				<string>{-12,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,413},{204,191}}</string>
				<key>offset</key>
				<string>{-5,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{232,179}}</string>
				<key>offset</key>
				<string>{9,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{226,212}}</string>
				<key>offset</key>
				<string>{12,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,250},{163,245}}</string>
				<key>offset</key>
				<string>{-9,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,820},{146,250}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,882},{147,121}}</string>
				<key>offset</key>
				<string>{9,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/dongtanbude_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,882},{177,120}}</string>
				<key>offset</key>
				<string>{24,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/dongtanbude/suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,898},{95,94}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,702},{98,97}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,800},{98,96}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,704},{98,105}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,491},{96,109}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,704},{94,110}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,491},{103,109}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,913},{108,110}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,913},{108,108}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,0},{108,108}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,383},{105,108}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,600},{104,101}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/dongtanbude/zhuanzhuan_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,600},{102,98}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill3packer.png</string>
			<key>realTextureFileName</key>
			<string>skill3packer.png</string>
			<key>size</key>
			<string>{886,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>886</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>