<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/canying1.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1262},{91,100}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/canying2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2037,1000},{86,99}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>effect/dilie.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,1180},{194,152}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,158}</string>
			</dict>
			<key>effect/fangsheguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,1000},{121,128}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2402,493},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/guanggan.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1571},{432,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,150}</string>
			</dict>
			<key>effect/jianguang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1737},{500,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,200}</string>
			</dict>
			<key>effect/jianguang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1721},{500,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,200}</string>
			</dict>
			<key>effect/jianguang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1371},{500,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,200}</string>
			</dict>
			<key>effect/keng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,1001},{128,129}}</string>
				<key>offset</key>
				<string>{6,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>effect/quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,351},{311,310}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/s00.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1937},{67,199}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,200}</string>
			</dict>
			<key>effect/s01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1937},{474,100}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,100}</string>
			</dict>
			<key>effect/s03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,532},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/s04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2123,908},{193,197}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/s05.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,0},{292,295}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>effect/s06.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,1262},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>effect/s07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2064,0},{192,148}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/smoke/smoke_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2146,148},{179,151}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/shitou/shitou_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,295},{299,277}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,295},{312,257}}</string>
				<key>offset</key>
				<string>{4,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,320},{320,272}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,0},{320,277}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,0},{313,250}}</string>
				<key>offset</key>
				<string>{3,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,640},{311,271}}</string>
				<key>offset</key>
				<string>{-4,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,1303},{311,242}}</string>
				<key>offset</key>
				<string>{4,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,951},{311,264}}</string>
				<key>offset</key>
				<string>{4,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,0},{297,233}}</string>
				<key>offset</key>
				<string>{-3,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1414,552},{306,240}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,1339},{311,231}}</string>
				<key>offset</key>
				<string>{4,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,1701},{311,212}}</string>
				<key>offset</key>
				<string>{4,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1757,233},{258,223}}</string>
				<key>offset</key>
				<string>{-22,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/shitou/shitou_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,1813},{256,228}}</string>
				<key>offset</key>
				<string>{-23,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/lizi/lizi_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2398,689},{153,152}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2316,847},{159,153}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2241,520},{169,161}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2567,1638},{183,168}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2381,1278},{197,174}}</string>
				<key>offset</key>
				<string>{-2,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2059,701},{207,185}}</string>
				<key>offset</key>
				<string>{-3,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2202,1719},{211,191}}</string>
				<key>offset</key>
				<string>{-3,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2008,1300},{215,196}}</string>
				<key>offset</key>
				<string>{-3,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,782},{218,199}}</string>
				<key>offset</key>
				<string>{-2,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1657,782},{219,203}}</string>
				<key>offset</key>
				<string>{-2,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2158,1515},{200,204}}</string>
				<key>offset</key>
				<string>{-12,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2195,1105},{201,173}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1137},{181,163}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2089,520},{181,152}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2411,309},{149,148}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2453,146},{149,148}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/lizi/lizi_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2407,0},{148,146}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>effect/kuosan/kuosan_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,1523},{116,115}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1657,1001},{132,131}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2256,0},{151,147}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2244,689},{158,154}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2297,147},{162,156}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2252,327},{166,159}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{2089,348},{172,163}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,173},{175,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2582,1821},{178,168}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1818,1130},{182,169}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2534,1452},{186,172}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2393,1861},{189,173}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2393,1669},{192,174}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2358,1474},{195,176}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2204,1278},{196,177}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/kuosan/kuosan_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2000,1128},{195,172}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/juqi/juqilizi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{351,339}}</string>
				<key>offset</key>
				<string>{-18,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{345,329}}</string>
				<key>offset</key>
				<string>{-20,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,696},{353,319}}</string>
				<key>offset</key>
				<string>{-12,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1049},{352,312}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1401},{336,302}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,0},{313,287}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,594},{296,273}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,890},{290,263}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,250},{282,257}}</string>
				<key>offset</key>
				<string>{7,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1423,858},{279,234}}</string>
				<key>offset</key>
				<string>{8,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,1300},{268,223}}</string>
				<key>offset</key>
				<string>{13,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,1838},{234,201}}</string>
				<key>offset</key>
				<string>{16,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/juqi/juqilizi_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,491},{210,185}}</string>
				<key>offset</key>
				<string>{9,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>effect/daoguang/daoguang_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,662},{337,261}}</string>
				<key>offset</key>
				<string>{2,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>effect/daoguang/daoguang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,696},{337,290}}</string>
				<key>offset</key>
				<string>{2,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>effect/daoguang/daoguang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1049},{322,313}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>effect/daoguang/daoguang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1401},{316,320}}</string>
				<key>offset</key>
				<string>{11,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>effect/daoguang/daoguang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,999},{271,312}}</string>
				<key>offset</key>
				<string>{33,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>effect/baodian/baodian_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,1692},{297,180}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>effect/baodian/baodian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,1872},{295,175}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>effect/baodian/baodian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,1668},{278,170}}</string>
				<key>offset</key>
				<string>{5,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>effect/baodian/baodian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,1643},{272,170}}</string>
				<key>offset</key>
				<string>{9,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>effect/baodian/baodian_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,0},{259,173}}</string>
				<key>offset</key>
				<string>{12,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>effect/baodian/baodian_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,1262},{77,117}}</string>
				<key>offset</key>
				<string>{61,32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>effect/zhongzhan/zhongzhan_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1921},{123,249}}</string>
				<key>offset</key>
				<string>{46,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,700}</string>
			</dict>
			<key>effect/zhongzhan/zhongzhan_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1921},{123,248}}</string>
				<key>offset</key>
				<string>{46,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,700}</string>
			</dict>
			<key>effect/zhongzhan/zhongzhan_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,1913},{123,247}}</string>
				<key>offset</key>
				<string>{46,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,700}</string>
			</dict>
			<key>effect/zhongzhan/zhongzhan_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,1571},{123,243}}</string>
				<key>offset</key>
				<string>{46,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,700}</string>
			</dict>
			<key>effect/zhongzhan/zhongzhan_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,1570},{122,241}}</string>
				<key>offset</key>
				<string>{46,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,700}</string>
			</dict>
			<key>effect/zhongzhan/zhongzhan_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1398,1180},{123,239}}</string>
				<key>offset</key>
				<string>{46,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,700}</string>
			</dict>
			<key>effect/zhongzhan/zhongzhan_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1534,1545},{123,236}}</string>
				<key>offset</key>
				<string>{46,14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,700}</string>
			</dict>
			<key>effect/zhongzhan/zhongzhan_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1770,1523},{120,233}}</string>
				<key>offset</key>
				<string>{45,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{700,700}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>zhimingdaji_hetu.png</string>
			<key>realTextureFileName</key>
			<string>zhimingdaji_hetu.png</string>
			<key>size</key>
			<string>{2750,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2750</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>