<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mapui/gocitybtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,384},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>mapui/mapbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,490},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>mapui/mappackbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,596},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>mapui/mapdownbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,0},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/mapleftbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,128},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/maprightbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,256},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/mapupbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,298},{128,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,92}</string>
			</dict>
			<key>mapui/mapnamebox0.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,702},{53,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,159}</string>
			</dict>
			<key>mapui/mapnamebox1.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,598},{47,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,138}</string>
			</dict>
			<key>mapui/mapname_sel0.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,570},{59,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,163}</string>
			</dict>
			<key>mapui/mapname_sel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,702},{51,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,142}</string>
			</dict>
			<key>mapui/mtag0.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,560},{38,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,34}</string>
			</dict>
			<key>mapui/submaptitlecloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,490},{70,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,28}</string>
			</dict>
			<key>mapui/submapnodeitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{708,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{708,149}</string>
			</dict>
			<key>mapui/submapanimcloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,0},{298,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,99}</string>
			</dict>
			<key>mapui/boardblock_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,844},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,916},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,916},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,916},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,916},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,916},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,916},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/boardblock_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,916},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/buildblock_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,861},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>mapui/buildblock_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,426},{144,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,72}</string>
			</dict>
			<key>mapui/buildblock_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,916},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>mapui/mapdescbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,0},{693,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{693,103}</string>
			</dict>
			<key>mapui/morearrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,736},{34,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mapui.png</string>
			<key>realTextureFileName</key>
			<string>mapui.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>