<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>text_zh_cn/main_01_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_02_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,43},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_03_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,89},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_04_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,155},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_05_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,135},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_06_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,181},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_07_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,227},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_08_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,273},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_09_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,309},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_10_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,556},{44,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,152}</string>
			</dict>
			<key>text_zh_cn/main_achbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,135},{58,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,36}</string>
			</dict>
			<key>text_zh_cn/main_mailbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,133},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,36}</string>
			</dict>
			<key>text_zh_cn/main_rankbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,232},{84,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,34}</string>
			</dict>
			<key>text_zh_cn/main_setbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,360},{56,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,32}</string>
			</dict>
			<key>text_zh_cn/main_shopbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,99},{58,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,38}</string>
			</dict>
			<key>text_zh_cn/innroomtitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,199},{78,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,38}</string>
			</dict>
			<key>text_zh_cn/innroolv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,361},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>text_zh_cn/recruit_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,507},{156,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,42}</string>
			</dict>
			<key>text_zh_cn/herofire_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,149},{82,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,48}</string>
			</dict>
			<key>text_zh_cn/equiptext_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,99},{44,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,26}</string>
			</dict>
			<key>text_zh_cn/equiptext_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,481},{44,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,26}</string>
			</dict>
			<key>text_zh_cn/equiptext_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,229},{52,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,28}</string>
			</dict>
			<key>text_zh_cn/equiptext_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,472},{50,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,28}</string>
			</dict>
			<key>text_zh_cn/equiptext_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,173},{44,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,24}</string>
			</dict>
			<key>text_zh_cn/equiptext_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,494},{44,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,26}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/heroattrqu_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{149,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,96}</string>
			</dict>
			<key>text_zh_cn/recruitbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,199},{78,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,42}</string>
			</dict>
			<key>text_zh_cn/backbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,284},{74,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,34}</string>
			</dict>
			<key>text_zh_cn/changebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,233},{76,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,38}</string>
			</dict>
			<key>text_zh_cn/firebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,199},{74,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,42}</string>
			</dict>
			<key>text_zh_cn/isrecruited_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,309},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>text_zh_cn/srefresh_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,319},{156,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,39}</string>
			</dict>
			<key>text_zh_cn/crefresh_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>text_zh_cn/hilllv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,360},{148,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,40}</string>
			</dict>
			<key>text_zh_cn/hillrecruit.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,361},{146,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,42}</string>
			</dict>
			<key>text_zh_cn/homehilltitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,287},{80,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,32}</string>
			</dict>
			<key>text_zh_cn/resitemlv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,99},{84,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,48}</string>
			</dict>
			<key>text_zh_cn/drlvupbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,319},{156,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,40}</string>
			</dict>
			<key>text_zh_cn/lvupbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,199},{78,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,40}</string>
			</dict>
			<key>text_zh_cn/drrecruitbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,463},{158,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,42}</string>
			</dict>
			<key>text_zh_cn/outtowntitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,175},{78,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,36}</string>
			</dict>
			<key>text_zh_cn/goout_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,238},{72,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,38}</string>
			</dict>
			<key>text_zh_cn/herocancel_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,199},{80,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,46}</string>
			</dict>
			<key>text_zh_cn/herofight_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,199},{82,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,44}</string>
			</dict>
			<key>text_zh_cn/gocitybtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,134},{62,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,32}</string>
			</dict>
			<key>text_zh_cn/mapbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,360},{60,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,30}</string>
			</dict>
			<key>text_zh_cn/mappackbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,99},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>
			<key>text_zh_cn/m15-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,199},{28,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,88}</string>
			</dict>
			<key>text_zh_cn/m15-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,317},{27,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,87}</string>
			</dict>
			<key>text_zh_cn/m15-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,448},{27,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,72}</string>
			</dict>
			<key>text_zh_cn/m15-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,360},{24,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,92}</string>
			</dict>
			<key>text_zh_cn/m2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,394},{24,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,73}</string>
			</dict>
			<key>text_zh_cn/m15-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,360},{27,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,86}</string>
			</dict>
			<key>text_zh_cn/m15-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,406},{27,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,86}</string>
			</dict>
			<key>text_zh_cn/m15-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,287},{28,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,91}</string>
			</dict>
			<key>text_zh_cn/m15-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,99},{25,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,72}</string>
			</dict>
			<key>text_zh_cn/m1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,119},{22,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,69}</string>
			</dict>
			<key>text_zh_cn/m22-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,287},{30,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,87}</string>
			</dict>
			<key>text_zh_cn/m1-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,166},{26,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,73}</string>
			</dict>
			<key>text_zh_cn/m2-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,392},{25,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,71}</string>
			</dict>
			<key>text_zh_cn/m2-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,255},{27,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,89}</string>
			</dict>
			<key>text_zh_cn/m22-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,99},{31,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,74}</string>
			</dict>
			<key>text_zh_cn/m1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,407},{24,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,72}</string>
			</dict>
			<key>text_zh_cn/m22-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,287},{30,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,88}</string>
			</dict>
			<key>text_zh_cn/m1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,43},{21,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,74}</string>
			</dict>
			<key>text_zh_cn/m22-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,199},{32,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,90}</string>
			</dict>
			<key>text_zh_cn/m22-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,287},{30,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,91}</string>
			</dict>
			<key>text_zh_cn/m3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,420},{24,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,72}</string>
			</dict>
			<key>text_zh_cn/m3-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,446},{24,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,72}</string>
			</dict>
			<key>text_zh_cn/m3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,312},{27,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,88}</string>
			</dict>
			<key>text_zh_cn/m2-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,402},{24,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,72}</string>
			</dict>
			<key>text_zh_cn/m3-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,287},{29,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,88}</string>
			</dict>
			<key>text_zh_cn/m3-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,287},{29,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,88}</string>
			</dict>
			<key>text_zh_cn/m3-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,190},{20,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,74}</string>
			</dict>
			<key>text_zh_cn/m3-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,461},{23,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,70}</string>
			</dict>
			<key>text_zh_cn/m3-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,199},{31,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,88}</string>
			</dict>
			<key>text_zh_cn/m3-9.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,317},{27,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,88}</string>
			</dict>
			<key>text_zh_cn/m4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,287},{26,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,120}</string>
			</dict>
			<key>text_zh_cn/m2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,392},{25,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,71}</string>
			</dict>
			<key>text_zh_cn/m4-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,436},{23,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,72}</string>
			</dict>
			<key>text_zh_cn/m4-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,157},{25,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,75}</string>
			</dict>
			<key>text_zh_cn/m4-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,435},{27,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,119}</string>
			</dict>
			<key>text_zh_cn/submaptitle_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1},{284,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{284,32}</string>
			</dict>
			<key>text_zh_cn/storehousetitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,199},{82,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,44}</string>
			</dict>
			<key>text_zh_cn/stcatabtn0_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,99},{62,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,33}</string>
			</dict>
			<key>text_zh_cn/stcatabtn0_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,134},{62,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,33}</string>
			</dict>
			<key>text_zh_cn/stcatabtn1_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,465},{54,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,29}</string>
			</dict>
			<key>text_zh_cn/stcatabtn1_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,472},{54,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,29}</string>
			</dict>
			<key>text_zh_cn/stcatabtn2_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,159},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>text_zh_cn/stcatabtn2_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,99},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>text_zh_cn/stcatabtn3_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,99},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,33}</string>
			</dict>
			<key>text_zh_cn/stcatabtn3_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,99},{55,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,33}</string>
			</dict>
			<key>text_zh_cn/fastdecompose_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,318},{146,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,40}</string>
			</dict>
			<key>text_zh_cn/smcatabtn0_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,99},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>text_zh_cn/smcatabtn1_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,157},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>
			<key>text_zh_cn/smcatabtn1_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,99},{56,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,34}</string>
			</dict>
			<key>text_zh_cn/smcatabtn2_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,135},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>text_zh_cn/smcatabtn2_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,99},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>text_zh_cn/smcatabtn3_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,402},{54,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,32}</string>
			</dict>
			<key>text_zh_cn/smcatabtn3_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,428},{54,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,32}</string>
			</dict>
			<key>text_zh_cn/smcatabtn4_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,133},{58,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>
			<key>text_zh_cn/smcatabtn4_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,133},{58,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>
			<key>text_zh_cn/smithytilte.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,319},{122,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,38}</string>
			</dict>
			<key>text_zh_cn/smithylv_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1},{176,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,40}</string>
			</dict>
			<key>text_zh_cn/smcatabtn0_text_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,99},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>text_zh_cn/drmakeresbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,405},{152,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,40}</string>
			</dict>
			<key>text_zh_cn/makeresbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,233},{76,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,38}</string>
			</dict>
			<key>text_zh_cn/okbtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,199},{74,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,37}</string>
			</dict>
			<key>text_zh_cn/closebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,99},{65,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,34}</string>
			</dict>
			<key>text_zh_cn/usebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,99},{74,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,38}</string>
			</dict>
			<key>text_zh_cn/decomposebtn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,199},{74,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>text_zh_cn.png</string>
			<key>realTextureFileName</key>
			<string>text_zh_cn.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>