<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/r001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,373},{58,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,54}</string>
			</dict>
			<key>ui/r003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,351},{60,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,52}</string>
			</dict>
			<key>ui/r004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,401},{64,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,48}</string>
			</dict>
			<key>ui/r005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,321},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>
			<key>ui/r002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,273},{72,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,46}</string>
			</dict>
			<key>ui/main_menu_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,535},{146,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>ui/h_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,133},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/main_achbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,495},{84,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,82}</string>
			</dict>
			<key>ui/main_mailbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,581},{84,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,82}</string>
			</dict>
			<key>ui/main_rankbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,667},{82,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,84}</string>
			</dict>
			<key>ui/main_setbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1949,1272},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>ui/main_shopbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,505},{92,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,82}</string>
			</dict>
			<key>ui/main_btn_redpoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,526},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>ui/main_addbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1671,589},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>ui/main_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,405},{42,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,26}</string>
			</dict>
			<key>ui/main_coin_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,398},{156,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,54}</string>
			</dict>
			<key>ui/main_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{1671,673},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>ui/normal9bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,1},{400,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,190}</string>
			</dict>
			<key>ui/buildingactbtn_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,246},{150,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,62}</string>
			</dict>
			<key>ui/buildingactbtn_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,193},{204,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,84}</string>
			</dict>
			<key>ui/buildinglvbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,281},{78,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,34}</string>
			</dict>
			<key>ui/top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{714,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{714,130}</string>
			</dict>
			<key>ui/buildingtitlebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,125},{224,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,70}</string>
			</dict>
			<key>ui/herobox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,125},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,193},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,193},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,349},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/heroitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,1},{532,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{532,140}</string>
			</dict>
			<key>ui/actionbtn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,399},{144,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,80}</string>
			</dict>
			<key>ui/herobox_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,349},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/smallstar.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,582},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>ui/herotag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,405},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>ui/closebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,497},{80,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,128}</string>
			</dict>
			<key>ui/randheadbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,125},{146,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,396}</string>
			</dict>
			<key>ui/h_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,133},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,133},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,133},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,133},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,272},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,272},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,272},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/equipbox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1238},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1733,1272},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,272},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/equipbox_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,272},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/equipbox_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,1272},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,744},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/heroattrnamebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,1},{243,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,54}</string>
			</dict>
			<key>ui/heroattrmodify.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,361},{30,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,38}</string>
			</dict>
			<key>ui/heroattrexpbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,399},{210,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,14}</string>
			</dict>
			<key>ui/heroattrexpbarbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,411},{210,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,14}</string>
			</dict>
			<key>ui/heroattradd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1671,631},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>ui/blank.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,744},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/timebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,556},{128,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,30}</string>
			</dict>
			<key>ui/timebargb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2015,556},{128,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,30}</string>
			</dict>
			<key>ui/timeicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,552},{18,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,28}</string>
			</dict>
			<key>ui/timeiconbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,545},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>ui/resaddbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,453},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>ui/resitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1},{628,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,122}</string>
			</dict>
			<key>ui/ressunbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,467},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>ui/resbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,399},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/resbox_qu0.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,399},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/cardnamebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,686},{132,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,28}</string>
			</dict>
			<key>ui/top2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1891,1},{714,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{714,90}</string>
			</dict>
			<key>ui/ninegrid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,545},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>ui/herohpbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,686},{142,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,22}</string>
			</dict>
			<key>ui/herohpbarbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,272},{142,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,22}</string>
			</dict>
			<key>ui/catabtn_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,411},{152,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,68}</string>
			</dict>
			<key>ui/catabtn_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,565},{152,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,68}</string>
			</dict>
			<key>ui/a001.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,510},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a003.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,411},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a004.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,411},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a005.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,526},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,522},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a007.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,522},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a008.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,522},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,633},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a010.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,633},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a011.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,633},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a012.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,273},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a013.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,273},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a014.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,273},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,281},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,392},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,505},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,505},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,589},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,683},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1822,717},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,616},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,616},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,700},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1671,794},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1782,828},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,828},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/a028.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,384},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/e001.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,384},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/e002.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,384},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/e003.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,495},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/e004.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,495},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/f001.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,495},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/f002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,503},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/f003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,614},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/f004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,627},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/h001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1323,727},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/h002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,727},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/h003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,811},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/h004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,905},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/resbox_qu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,939},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/resbox_qu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,939},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/resbox_qu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,606},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/resbox_qu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,621},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/b001.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,637},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/b002.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,606},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/b003.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,606},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/b004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,725},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/c001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,738},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/d001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1323,838},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/d002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1434,838},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/d003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,922},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/d004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,1016},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/d005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,1050},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/m001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,1050},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/m002.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,717},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/m003.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,732},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/m004.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,717},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/s001.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,717},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/s002.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,753},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/s003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,836},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/s004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,849},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,949},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,949},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,1033},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,1127},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,1161},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,1161},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y007.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,828},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y008.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,828},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y009.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,828},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y010.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,864},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1070,947},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,960},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,1060},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,1060},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/y015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1514,1144},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui.png</string>
			<key>realTextureFileName</key>
			<string>ui.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>