<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/r001.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,603},{58,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,54}</string>
			</dict>
			<key>ui/r003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,655},{60,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,52}</string>
			</dict>
			<key>ui/r004.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,603},{64,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,48}</string>
			</dict>
			<key>ui/r005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,603},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>
			<key>ui/r002.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,519},{72,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,46}</string>
			</dict>
			<key>ui/main_menu_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,535},{146,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>ui/h_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,133},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/main_achbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,519},{84,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,82}</string>
			</dict>
			<key>ui/main_mailbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,519},{84,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,82}</string>
			</dict>
			<key>ui/main_rankbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,541},{82,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,84}</string>
			</dict>
			<key>ui/main_setbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,625},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>ui/main_shopbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,519},{92,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,82}</string>
			</dict>
			<key>ui/main_btn_redpoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,526},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>ui/main_addbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,695},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>ui/main_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,651},{42,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,26}</string>
			</dict>
			<key>ui/main_coin_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,398},{156,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,54}</string>
			</dict>
			<key>ui/main_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,703},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>ui/normal9bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,1},{400,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,190}</string>
			</dict>
			<key>ui/buildingactbtn_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,246},{150,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,62}</string>
			</dict>
			<key>ui/buildingactbtn_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,193},{204,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,84}</string>
			</dict>
			<key>ui/buildinglvbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,593},{78,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,34}</string>
			</dict>
			<key>ui/top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{714,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{714,130}</string>
			</dict>
			<key>ui/buildingtitlebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,125},{224,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,70}</string>
			</dict>
			<key>ui/herobox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,125},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,193},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,193},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,349},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/heroitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,1},{532,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{532,140}</string>
			</dict>
			<key>ui/actionbtn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,399},{144,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,80}</string>
			</dict>
			<key>ui/herobox_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,349},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/smallstar.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,582},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>ui/herotag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,603},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>ui/closebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,411},{80,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,128}</string>
			</dict>
			<key>ui/randheadbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,125},{146,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,396}</string>
			</dict>
			<key>ui/h_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,133},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,133},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,133},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,133},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,272},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,272},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,272},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/equipbox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,510},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,272},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/equipbox_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,272},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/equipbox_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,411},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,411},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/heroattrnamebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,1},{243,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,54}</string>
			</dict>
			<key>ui/heroattrmodify.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,625},{30,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,38}</string>
			</dict>
			<key>ui/heroattrexpbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,399},{210,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,14}</string>
			</dict>
			<key>ui/heroattrexpbarbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,411},{210,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,14}</string>
			</dict>
			<key>ui/heroattradd.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,697},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>ui/blank.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,526},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/timebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,556},{128,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,30}</string>
			</dict>
			<key>ui/timebargb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2015,556},{128,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,30}</string>
			</dict>
			<key>ui/timeicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,552},{18,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,28}</string>
			</dict>
			<key>ui/timeiconbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,709},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>ui/resaddbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,651},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>ui/resitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1},{628,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,122}</string>
			</dict>
			<key>ui/ressunbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,653},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>ui/resbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,399},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/resbox_qu0.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,399},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>ui/cardnamebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,686},{132,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,28}</string>
			</dict>
			<key>ui/top2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1891,1},{714,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{714,90}</string>
			</dict>
			<key>ui/ninegrid.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,659},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>ui/herohpbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{2013,686},{142,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,22}</string>
			</dict>
			<key>ui/herohpbarbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,272},{142,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,22}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui.png</string>
			<key>realTextureFileName</key>
			<string>ui.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>