<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/r001.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,538},{58,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,54}</string>
			</dict>
			<key>ui/r002.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,428},{60,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,52}</string>
			</dict>
			<key>ui/r003.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,480},{64,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,48}</string>
			</dict>
			<key>ui/r004.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,575},{66,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,50}</string>
			</dict>
			<key>ui/r005.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,527},{72,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,46}</string>
			</dict>
			<key>ui/main_menu_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,772},{146,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>ui/h_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,428},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/main_achbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,608},{84,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,82}</string>
			</dict>
			<key>ui/main_mailbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,688},{84,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,82}</string>
			</dict>
			<key>ui/main_rankbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,690},{82,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,84}</string>
			</dict>
			<key>ui/main_setbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,599},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>ui/main_shopbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,596},{92,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,82}</string>
			</dict>
			<key>ui/main_btn_redpoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,400},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>ui/main_addbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,568},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>ui/main_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,400},{42,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,26}</string>
			</dict>
			<key>ui/main_coin_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,258},{156,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,54}</string>
			</dict>
			<key>ui/main_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,568},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>ui/normal9bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,0},{400,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,190}</string>
			</dict>
			<key>ui/buildingactbtn_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,425},{150,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,62}</string>
			</dict>
			<key>ui/buildingactbtn_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,0},{204,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,84}</string>
			</dict>
			<key>ui/buildinglvbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,256},{78,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,34}</string>
			</dict>
			<key>ui/top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{714,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{714,130}</string>
			</dict>
			<key>ui/buildingtitlebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,204},{224,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,70}</string>
			</dict>
			<key>ui/herobox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,130},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,400},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,554},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/herobox_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,681},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/heroitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,568},{532,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{532,140}</string>
			</dict>
			<key>ui/actionbtn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,414},{124,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,38}</string>
			</dict>
			<key>ui/herobox_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,708},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>ui/smallstar.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,546},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>ui/herotag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,528},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>ui/closebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,130},{80,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,128}</string>
			</dict>
			<key>text_zh_cn/crefresh_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,414},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>text_zh_cn/srefresh_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,400},{156,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,39}</string>
			</dict>
			<key>ui/randheadbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{146,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,396}</string>
			</dict>
			<key>ui/h_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,284},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,835},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,708},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,833},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,835},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,862},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/h_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{137,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,141}</string>
			</dict>
			<key>ui/equipbox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,918},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,918},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,708},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/equipbox_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,708},{125,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>ui/equipbox_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,708},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/equipbox_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,918},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/heroattrnamebox.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,284},{243,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,54}</string>
			</dict>
			<key>ui/heroattrmodify.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,370},{30,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,38}</string>
			</dict>
			<key>ui/heroattrexpbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,204},{210,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,14}</string>
			</dict>
			<key>ui/heroattrexpbarbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,546},{210,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,14}</string>
			</dict>
			<key>ui/heroattradd.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,556},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>ui/blank.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,918},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>ui/timebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,0},{128,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,30}</string>
			</dict>
			<key>ui/timebargb.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,128},{128,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,30}</string>
			</dict>
			<key>ui/timeicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,546},{18,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,28}</string>
			</dict>
			<key>ui/timeiconbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,334},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui.png</string>
			<key>realTextureFileName</key>
			<string>ui.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>